@using TicketSystem.Web.Models;
@model DetailsTicketViewModel
@{
    ViewBag.Title = "Ticket System";
}

<h2>@ViewBag.Title</h2>

<h3>@Model.Title</h3>
<h4>Category: @Model.CategoryName</h4>

<div class="row-fluid">

    <div class="span4">
        <b>Author:</b> @Model.AuthorName <br />
        <b>Priority:</b> @Model.Priority
    </div>
    @if(!String.IsNullOrEmpty(Model.ScreenshotUrl)){
        <div class="span4">
            <img src="@Model.ScreenshotUrl" alt="@Model.Title" /> @Model.ScreenshotUrl
        </div>
    }
    @if(!String.IsNullOrEmpty(Model.Description)){
        <div class="span4">
            <b>Description</b>: @Model.Description
        </div>
    }
</div>

<br />

<div id="ticketComments" class="clearfix">
    @foreach (var comment in Model.Comments)
    {
        @Html.Partial("_CommentPartial", comment)
    }
</div>

@if (User.Identity.IsAuthenticated)
{
    <br />
    using (Ajax.BeginForm("PostComment", new AjaxOptions 
                                        {
                                            HttpMethod = "Post",
                                            InsertionMode = InsertionMode.InsertAfter,
                                            UpdateTargetId = "ticketComments",
                                            OnSuccess = "clearForm",
                                            OnFailure = "commentPostFailure"
                                        }))
    {
        @Html.Hidden("TicketId", Model.Id)
        @Html.TextArea("content")<br />
        @Html.AntiForgeryToken()
        <input type="submit" value="Add comment" />
    }
}

@section scripts{
    <script>
        function commentPostFailure() {
            alert("Error");
        };

        function clearForm() {
            $("#content").val("");
        };
    </script>
}

